{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native",
    "flowtype",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react/prefer-stateless-function": [
      2, { "ignorePureComponents": true }
    ],
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "semi": ["error", "never"],
    "no-use-before-define": 0,
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
}
